

<div id="sidenav-overlay"></div>

<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top scrolled-up">
    <a class="navbar-brand text-brand description">DEMO</a>
    <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
    </button>
    <button class="navbar-toggler collapsed" type="button" (click)="openNav()" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="toggler-top"></span>
      <span class="toggler-middle"></span>
      <span class="toggler-bottom"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item header-options">
          <a class="nav-link description underline">Home</a>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">About</a>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">Services</a>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">Contact</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbarMobileDefault">
      <ul class="navbar-nav">
        <li class="nav-item header-options">
          <button class="close" type="button" (click)="openNav()" aria-label="Close" style="outline:0; color: #ffffff;">
              <span aria-hidden="true" class="close-btn-header" style=" font-size: 30px;">&times;</span>
          </button>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">Home</a>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">About</a>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">Services</a>
        </li>
        <li class="nav-item header-options">
          <a class="nav-link description underline">Contact</a>
        </li>
      </ul>
    </div>
</nav>
<!-- End Header/Navbar -->