/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar-brand{
    font-size: 1.875rem;
}

#navbarMobileDefault{
  display: none !important;
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}

.closing #sidenav-overlay {
  display: block;
}


.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.1s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); 
    transition: all 0.1s ease-in-out;
  }
  .description{
        font-family: 'Roboto', sans-serif;
    }
    .navbar-default {
        height: 89px;
        transition: all .5s ease-in-out;
        background-color: #ffffff;
        padding-left: 40px;
        padding-right: 40px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    
      .navbar-brand:hover{
        cursor: pointer;
      }
    
      .navbar-brand{
        font-size: 40px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    
      .navbar a{
          color: #3bba9c;
      }
    
      .navbar .navbar-collapse{
          justify-content: flex-end;
      }
    
      .navbar-default.navbar-reduce {
        box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
      }
      
      .navbar-default.navbar-trans, .navbar-default.navbar-reduce {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
        position: relative;
        text-align: center;
        padding-right: 10px;
        padding-bottom: 8px;
        margin-left: 0;
      }
      
      @media (min-width: 768px) {
        .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
          padding: 0 25px;
        }
      }
      
      .navbar-default.navbar-trans .nav-link, .navbar-default.navbar-reduce .nav-link {
        font-size: 1.1rem;
        color: #000000;
        transition: all 0.1s ease-in-out;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        font-size: 15px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.32;
        letter-spacing: normal;
        text-align: center;
      }
      
        .nav-item.header-button{
            background-color: #2e3047;
            border: solid 1px #707070;
            /* color: #ffffff !important; */
        }
        .nav-item.header-button a{
            color: #ffffff !important;
        }
      
      .navbar-default.navbar-trans .nav-link:before, .navbar-default.navbar-reduce .nav-link:before {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
      }
      
      .navbar-default.navbar-trans .nav-link:hover:before, .navbar-default.navbar-reduce .nav-link:hover:before {
        transform: scaleX(1);
        transform-origin: left;
      }
      
      .navbar-default.navbar-trans .show > .nav-link:before,
      .navbar-default.navbar-trans .active > .nav-link:before,
      .navbar-default.navbar-trans .nav-link.show:before,
      .navbar-default.navbar-trans .nav-link.active:before, .navbar-default.navbar-reduce .show > .nav-link:before,
      .navbar-default.navbar-reduce .active > .nav-link:before,
      .navbar-default.navbar-reduce .nav-link.show:before,
      .navbar-default.navbar-reduce .nav-link.active:before {
        transform: scaleX(1);
      }
      
      .navbar-default.navbar-trans .nav-link:hover {
        color: #3bba9c;
        cursor: pointer;
      }
      
      /*------/ Hamburger Navbar /------*/
      .navbar-toggler {
        position: relative;
      }
      
      .navbar-toggler:focus,
      .navbar-toggler:active {
        outline: 0;
      }
      
      .navbar-toggler span {
        display: block;
        background-color: #000000;
        height: 3px;
        margin-top: 4px;
        margin-bottom: 4px;
        transform: rotate(0deg);
        left: 0;
        opacity: 1;
      }
    
      .navbar-toggler .toggler-top{
        width: 15px;
      }
    
      .navbar-toggler .toggler-middle{
        width: 25px;
      }
    
      .navbar-toggler .toggler-bottom{
        width: 15px;
      }
      
      .navbar-toggler span:nth-child(1),
      .navbar-toggler span:nth-child(3) {
        transition: transform .35s ease-in-out;
      }
      
      .navbar-toggler:not(.collapsed) span:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 10px;
        transform: rotate(135deg);
        opacity: 0.9;
      }
      
      .navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
      }
      
      .navbar-toggler:not(.collapsed) span:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        transform: rotate(-135deg);
        opacity: 0.9;
      }
      .close-btn-header{
        margin-right: 15px;
        display: none;
      }
      
      /*======================================
      //--//-->   BOX COLAPSE
      ======================================*/
      .box-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1040;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: all 0.6s ease;
      }

      @media (min-width: 768px) {
        .box-collapse {
          width: 50%;
        }
      }
    
      @media (max-width : 960px){
        .navbar-default.navbar-trans .nav-link:hover {
          color: #000000;
          cursor: pointer;
        }
        #navbarDefault{
          display: none;
        }
        
      .navbar .navbar-nav {
        background-color: #3bba9c;
        height: 100vh;
        overflow-y: scroll;
        min-height: 100vh;
        width: 0;
        position: absolute;
        right: -1%;
        margin-top: -77px;
        transition: width 0.6s;
      }

        
        #navbarMobileDefault{
          display: block !important;
        }
        .navbar-default{
          padding-left: 0px;
          padding-right: 0px;
        }
        
        .navbar .navbar-brand{
          margin-left: 18px;
        }
        .navbar .navbar-toggler{
          margin-right: 18px;
        }
        .navbar .navbar-collapse .navbar-nav .nav-link{
          font-size: 28px;
        }
      }
      
      .box-collapse .title-box-d {
        top: 30px;
        left: 60px;
        opacity: 0;
        transition: all 1s ease;
        transition-delay: .3s;
      }

      @media(max-width: 600px){
        .navbar-brand{
          font-size: 26px;
        }
        .navbar .navbar-nav {
          margin-top: -73px;
          right: -5%;
        }
        .navbar{
          width: 95%;
        }
        .close-btn-header{
          margin-right: 30px;
        }
      }
      
      @media (max-width: 575px) {
        .box-collapse .title-box-d {
          left: 35px;
        }
      }
      
      @media (max-width: 575px) {
        .box-collapse .title-box-d .title-d {
          font-size: 1.3rem;
        }
      }
      
      .box-collapse-wrap {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 6.5rem;
        bottom: 5rem;
        padding-left: 10%;
        padding-right: 10%;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        transform: translateY(3rem);
        transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
      }
      
      .box-collapse-open .click-closed {
        visibility: visible;
      }
      
      .box-collapse-open .box-collapse {
        transform: translateX(0);
        box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
        opacity: 1;
      }
      
      .box-collapse-open .box-collapse .title-box-d {
        transform: translate(0);
        opacity: 1;
      }
      
      .box-collapse-open .box-collapse-wrap {
        transform: translate(0);
        opacity: 1;
      }
      
      .box-collapse-closed .box-collapse {
        opacity: .7;
        transition-delay: 0s;
      }
      
      .box-collapse-closed .box-collapse .title-box-d {
        opacity: 0;
        transition-delay: 0s;
      }
      
      .box-collapse-closed .box-collapse .form-a {
        opacity: 0;
        transition-delay: 0s;
      }
      
      .click-closed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: 1035;
        background-color: #fff;
        opacity: .4;
      }
      
      .close-box-collapse {
        position: absolute;
        z-index: 1050;
        top: 2rem;
        font-size: 3.5rem;
        line-height: 1;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      
      .right-boxed {
        right: 4.2857rem;
      }
    
      .userLogout{
        display: none;
      }
  
      @media(max-width : 960px){
        .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
          margin-top: 15px;
        }
      }
    