<main id="home">
    <section>
        <div class="container">

            <input type="file" (change)="onFileChanged($event)" /><br>
            <p>{{message}}</p>

            <form [formGroup]="imgForm" *ngIf="form" (ngSubmit)="submitForm()">
                <label for="x-coordinate">x-coordinate</label><br>
                <input id="x-coordinate" type="number" formControlName="x_coordinate"><br>
                <div
                    *ngIf="imgForm.get('x_coordinate').invalid && (imgForm.get('x_coordinate').touched || imgForm.get('x_coordinate').dirty)">
                    <div *ngIf="imgForm.get('x_coordinate').errors.required">
                        <p class="text-danger">This field is required</p>
                    </div>
                </div>
                <div *ngIf="xCoordinate">
                    <p class="text-danger">xCoordinate crossed the range</p>
                </div>
                <label for="y-coordinate">y-coordinate</label><br>
                <input id="y-coordinate" type="number" formControlName="y_coordinate"><br>
                <div
                    *ngIf="imgForm.get('y_coordinate').invalid && (imgForm.get('y_coordinate').touched || imgForm.get('y_coordinate').dirty)">
                    <div *ngIf="imgForm.get('y_coordinate').errors.required">
                        <p class="text-danger">This field is required</p>
                    </div>
                </div>
                <div *ngIf="yCoordinate">
                    <p class="text-danger">yCoordinate crossed the range</p>
                </div>
                <label for="width">width</label><br>
                <input id="width" type="number" formControlName="width"><br>
                <div
                    *ngIf="imgForm.get('width').invalid && (imgForm.get('width').touched || imgForm.get('width').dirty)">
                    <div *ngIf="imgForm.get('width').errors.required">
                        <p class="text-danger">This field is required</p>
                    </div>
                </div>
                <div *ngIf="width">
                    <p class="text-danger">Width crossed the range</p>
                </div>

                <label for="height">height</label><br>
                <input id="height" type="number" formControlName="height"><br>
                <div
                    *ngIf="imgForm.get('height').invalid && (imgForm.get('height').touched || imgForm.get('height').dirty)">
                    <div *ngIf="imgForm.get('height').errors.required">
                        <p class="text-danger">This field is required</p>
                    </div>
                </div>
                <div *ngIf="height">
                    <p class="text-danger">height crossed the range</p>
                </div>
                <button type="submit" class="description login-btn">Submit</button>
            </form>

            <canvas id="myCanvas" width="300" height="300">

            </canvas>
        </div>
    </section>
</main>